<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/clientLayout.html}">
    <head>
    </head>
    <body>
        <section layout:fragment="content">
            <!-- Start About Page -->
            <div class="about-page-title">
                <img src="/images/Rublevoy_Steemit.png" alt="" class="about-page-image">
                <div class="overlay"></div>
                <div class="about-title">
                    <h1 class="about-title">GIỚI THIỆU</h1>
                    <div class="title-homepage">
                        <h3 class="nav-name">TRANG CHỦ / GIỚI THIỆU</h3>
                    </div>
                </div>
            </div>
            <!-- Shop-name -->
            <div class="shop-name-container">
                <div class="shop-name">
                    <h1 class="name">MONA <span>SHOES</span></h1>
                    <p class="slogan">
                        Cá tính hơn - Yêu đời hơn - Sành điệu hơn
                    </p>
                </div>
            </div>

            <div class="grid-container">
                <div class="item item-1">
                    <img src="/images/About_Image/freeship-icon.png" alt="" class="free-ship-image" width="80px">
                    <h3 class="free-ship-name" style="margin-top: 25px;">Miễn phí giao hàng</h3>
                    <p class="free-ship-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                        euismod tincidunt</p>
                </div>
                <div class="item item-2">
                    <img src="/images/About_Image/logo_about.png" alt="" class="free-ship-image-logo">
                </div>
                <div class="item item-center">
                    <img src="/images/About_Image/thanhtoan.png" alt="" class="free-ship-image" width="70px">
                    <h3 class="free-ship-name" style="margin-top: 25px;">Thanh toán an toàn</h3>
                    <p class="free-ship-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                        euismod tincidunt.</p>
                </div>
                <div class="item item-3">
                    <img src="/images/About_Image/doitra30.png" alt="" class="free-ship-image" width="70px">
                    <h3 class="free-ship-name" style="margin-top: 25px;">Đổi trả trong 30 ngày</h3>
                    <p class="free-ship-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                        euismod tincidunt.</p>
                </div>
                <div class="item item-4">
                    <img src="/images/About_Image/danhsachsanpham.png" alt="" class="free-ship-image" width="70px">
                    <h3 class="free-ship-name" style="padding-top: 25px;">Danh sách sản phẩm</h3>
                    <p class="free-ship-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                        euismod tincidunt.</p>
                </div>
            </div>

            <!-- End About page -->
            <!-- Logo -->
            <section>
                <div class="logo-section">
                    <div class="logo-item">
                        <img src="/images/Logo_Home/brand1.png" alt="" class="logo-image">
                    </div>
                    <div class="logo-item">
                        <img src="/images/Logo_Home/brand2.png" alt="" class="logo-image">
                    </div>
                    <div class="logo-item">
                        <img src="/images/Logo_Home/brand3.png" alt="" class="logo-image">
                    </div>
                    <div class="logo-item">
                        <img src="/images/Logo_Home/brand4.png" alt="" class="logo-image">
                    </div>
                    <div class="logo-item">
                        <img src="/images/Logo_Home/brand5.png" alt="" class="logo-image">
                    </div>
                    <div class="logo-item">
                        <img src="/images/Logo_Home/brand6.png" alt="" class="logo-image">
                    </div>
                </div>
            </section>
            <!-- End logo -->
        </section>
    </body>
</html>
