<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/clientLayout.html}">
    <head>
    </head>
    <body>
        <section layout:fragment="content">
            <div class="news-page-title">
                <h3 class="news-page-name">TIN TỨC</h3>
            </div>
            <section>
                <div class="shop-container">
                    <div class="shop-category-menu">
                        <div class="category-item-news">
                            <input type="text" class="search-news" placeholder="Tìm kiếm...">
                            <button class="button-search-news" type="button"><i class="fa fa-search"></i></button>
                        </div>
                        <div class="product-left">
                            <div class="news-left-title">
                                <h3 class="news-left-name">BÀI VIẾT MỚI</h3>
                            </div>
                            <ul>
                                <li>
                                    <div class="news-left-item color-grey">
                                        <img src="/images/News/BV1.jpg" alt="" class="news-left-image">
                                        <div class="news-left-name-price">
                                            <a href="#"><span class="news-left-name">Lý do những đôi giày cao gót
                                                    Christiaon...</span></a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="news-left-item">
                                        <img src="/images/News/BV2.jpeg" alt="" class="news-left-image">
                                        <div class="news-left-name-price">
                                            <a href="#"><span class="news-left-name">Lộ điện đôi giày cao gót đắt nhất thế giới
                                                    có giá...</span></a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="news-left-item color-grey">
                                        <img src="/images/News/BV4.jpeg" alt="" class="news-left-image">
                                        <div class="news-left-name-price">
                                            <a href="#"><span class="news-left-name">Những mẫu giày mới nhất trong năm
                                                    này...</span></a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="news-left-item">
                                        <img src="/images/News/BV1.jpg" alt="" class="news-left-image">
                                        <div class="news-left-name-price">
                                            <a href="#"><span class="news-left-name">Có gì đặc biệt ở đôi giày vàng, đính kim
                                                    cương</span></a>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="news-posts-list">
                        <div class="post-item">
                            <img src="/images/News/BV1.jpg" alt="" class="posts-image">
                            <div class="posts-lable">07 Th5</div>
                            <div class="posts-information">
                                <a href="News_Details.html">
                                    <h5 class="posts-title">Lý do những đôi giày cao gót Christiaon Luboutin lại có đế...</h5>
                                </a>
                                <hr class="hr-posts">
                                <a href="News_Details.html">
                                    <p class="posts-content">Khi bạn hỏi một cô gái có đam mê thời trang rằng đâu là những...
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="post-item">
                            <img src="/images/News/BV2.jpeg" alt="" class="posts-image">
                            <div class="posts-lable">07 Th5</div>
                            <div class="posts-information">
                                <a href="News_Details.html">
                                    <h5 class="posts-title">Lý do những đôi giày cao gót Christiaon Luboutin lại có đế...</h5>
                                </a>
                                <hr class="hr-posts">
                                <a href="News_Details.html">
                                    <p class="posts-content">Khi bạn hỏi một cô gái có đam mê thời trang rằng đâu là những...
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="post-item">
                            <img src="/images/News/BV4.jpeg" alt="" class="posts-image">
                            <div class="posts-lable">07 Th5</div>
                            <div class="posts-information">
                                <a href="News_Details.html">
                                    <h5 class="posts-title">Lý do những đôi giày cao gót Christiaon Luboutin lại có đế...</h5>
                                </a>
                                <hr class="hr-posts">
                                <a href="News_Details.html">
                                    <p class="posts-content">Khi bạn hỏi một cô gái có đam mê thời trang rằng đâu là những...
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="post-item">
                            <img src="/images/News/BV3.jpg" alt="" class="posts-image">
                            <div class="posts-lable">07 Th5</div>
                            <div class="posts-information">
                                <a href="News_Details.html">
                                    <h5 class="posts-title">Lý do những đôi giày cao gót Christiaon Luboutin lại có đế...</h5>
                                </a>
                                <hr class="hr-posts">
                                <a href="News_Details.html">
                                    <p class="posts-content">Khi bạn hỏi một cô gái có đam mê thời trang rằng đâu là những...
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Logo -->
            <section>
                <div class="logo-section">
                    <div class="logo-item">
                        <img src="/images/Logo_Home/brand1.png" alt="" class="logo-image">
                    </div>
                    <div class="logo-item">
                        <img src="/images/Logo_Home/brand2.png" alt="" class="logo-image">
                    </div>
                    <div class="logo-item">
                        <img src="/images/Logo_Home/brand3.png" alt="" class="logo-image">
                    </div>
                    <div class="logo-item">
                        <img src="/images/Logo_Home/brand4.png" alt="" class="logo-image">
                    </div>
                    <div class="logo-item">
                        <img src="/images/Logo_Home/brand5.png" alt="" class="logo-image">
                    </div>
                    <div class="logo-item">
                        <img src="/images/Logo_Home/brand6.png" alt="" class="logo-image">
                    </div>
                </div>
            </section>
            <!-- End logo -->
        </section>
    </body>
</html>
