<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/clientLayout.html}">
    <head>
    </head>
    <body>
        <section layout:fragment="content">
            <div class="login_container">
                <div class="login_form">
                    <h2 class="login-title">Register Here</h2>
                    <div class="text-container">
                        <label>Do not have an account?&nbsp;</label>
                        <a href="/Login.html">Login</a>
                    </div>
                    <form>
                        <div class="form-group">
                            <label for="fullname">Full Name</label>
                            <input type="fullname" placeholder="Enter fullname" class="form-control" id="fullname" required>
                            <label for="address">Address</label>
                            <input type="address" placeholder="Enter address" class="form-control" id="address" required>
                            <label for="phone">Phone Number</label>
                            <input type="phone" placeholder="Enter phone number" class="form-control" id="phone" required>
                            <label for="email">Email Address</label>
                            <input type="email" placeholder="you@example.com" class="form-control" id="email">
                            <small id="sign_error" style="color: red;"></small>
                            <div class="text-container">
                                <label for="password">Password&nbsp;</label>
                            </div>
                            <input type="password" placeholder="Enter 6 character or more" class="form-control" minlength="6"
                                   id="pass">
                            <small id="pass_error" style="color: red;"></small><br>
                            <input type="checkbox" name="remember"><label for="remember">&emsp;Remember me</label>
                        </div>
                    </form>
                    <button type="submit" class="login-button" id="form_sign" onclick="validationForm();">Login</button>
                    <div class="line-container">
                        <hr>
                        <p class="loginwith">&emsp;&emsp;or login with</p>
                        <hr>
                    </div>
                    <div class="social_network">
                        <button type="submit" name="login" class="btn-outline-danger">
                            <img src="/images/google.png">&nbsp;Google
                        </button>
                        <button type="submit" name="login" class="btn-outline-primary">
                            <img src="/images/facebook.png">&nbsp;
                            Facebook
                        </button>
                    </div>
                </div>

                <div class="login_image">
                    <img src="images/image_register.png" alt="Image_Login">
                </div>
            </div>
        </section>
    </body>
</html>
