<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminLayout.html}">
    <head>
    </head>
    <body>
        <section layout:fragment="content">
            <div class="container mt-3">
                <a th:href="@{/administrator/employee/supplier/create-supplier}" class="btn btn-dark">Create</a>
                <table class="table table-hover" id="table1">
                    <thead>
                        <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Company Name</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Phone Number</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Address</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Email</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Website</th>
                            <th class="text-secondary opacity-7"></th>
                        </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="item : ${listSup}">
                        <tr>
                            <td th:text="${item.companyName}">
                            </td>
                            <td th:text="${item.phoneNumber}">
                            </td>
                            <td th:text="${item.address}">
                            </td>
                            <td th:text="${item.email}">
                            </td>
                            <td th:text="${item.website}">
                            </td>
                            <td class="align-middle">
                                <a th:href="@{/administrator/employee/supplier/edit-supplier/{id}(id = ${item.supplierID})}" class="btn btn-dark" style="background-color: #e91e63; text-transform: none;">
                                    <i class="fas fa-pen"></i>
                                </a>
                                <a th:attr="data-id=${item.supplierID}" class="btn btn-dark supplier__a__deleteSupplier" style="background-color: #e91e63; text-transform: none;">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </section>
    </body>
</html>
