<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminLayout.html}">
    <head>
    </head>
    <body>
        <section layout:fragment="content">
            <div class="container">
                <div class="row">
                    <form method="post" th:object="${brand}" class="row g-3">
                        <input type="hidden" th:field="*{brandID}"/>
                        <div class="col-10">
                            <label for="name">Brand Name:</label>
                            <input type="text" th:field="*{brandName}" class="form-control" placeholder="Brand Name"  id="name">
                            <p th:errors="*{brandName}"></p>
                        </div>
                        <div class="col-10">
                            <label for="des">Brand Description:</label>
                            <input type="text" th:field="*{description}" class="form-control" placeholder="Brand Description"  id="des">
                            <p th:errors="*{description}"></p>
                        </div>
                        <div class="col-10">
                            <label for="web">Website:</label>
                            <input type="text" th:field="*{website}" class="form-control" placeholder="Brand Description"  id="web">
                            <p th:errors="*{website}"></p>
                        </div>
                        <div class="col-10">
                            <button type="submit" class="btn btn-dark" style="background-color: #e91e63; text-transform: none;">Update</button>
                            <button type="submit" class="btn btn-dark" style="background-color: #e91e63; text-transform: none;">Back</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </body>
</html>
